{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true,
        "jest": true
    },
    "plugins": ["react", "flowtype"],
    "rules": {
        "arrow-body-style": ["error", "as-needed"],
        "comma-dangle": ["error", "always-multiline"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "curly": "error",
        "eqeqeq": ["error", "always", { "null": "ignore" }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "max-len": ["warn", { "code": 120 }],
        "no-console": "off",
        "no-duplicate-imports": "error",
        "no-tabs": "error",
        "no-unused-vars": [
            "error",
            { "vars": "all", "args": "none", "ignoreRestSiblings": true }
        ],
        "quotes": ["error", "single"],
        "prefer-const": "error",
        "prefer-spread": "error",

        "react/display-name": ["error", { "ignoreTranspilerName": false }],
        "react/prop-types": ["error", { "skipUndeclared": true }],
        "react/no-string-refs": ["error"],
        "react/jsx-closing-bracket-location": ["error", "line-aligned"],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],

        "semi": ["warn", "never"],
        "flowtype/define-flow-type": 1,
        "flowtype/use-flow-type": 1
    },
    "globals": {
        "expect": true,
        "fetch": true,
        "__DEV__": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": false
        }
    }
}
