@font-face {
  font-family: "ProximaNovaRegular";
  src: url("./fonts/3185DD_2_0.eot");
  src: url("./fonts/3185DD_2_0.eot?#iefix") format("embedded-opentype"),
    url("./fonts/3185DD_2_0.woff2") format("woff2"),
    url("./fonts/3185DD_2_0.woff") format("woff"),
    url("./fonts/3185DD_2_0.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "ProximaNovaRegular", sans-serif;
}
